@charset "utf-8";
$ue-width: 50;
$blue: #3f7ade; // 渐变蓝
$wblue: #44aaf2; // 渐变蓝
$fblue: #5a98cf; // 字体蓝
$rblue: #438bf9; // 圆体蓝
$blue21x: #2161E7;
$blue21: #2161E725;
$bgC: #F4F6F8;
$gary: #999;
$orange: #FF6601;
$orangeFf: #FF9D2F;
$orangeF4: #F4B070;
$yellow: #F8B807;
$yellowFD: #FDFBEE;
$gary5: #555555;
$garye5: #E5E5E5;
$wgary: #e0e0e0;
$fgary: #f5f5f5;
$white: #fff;
$black: #000; // 字体黑
$black50: #00000050; // 字体黑
$black46: #464954;
$black22: #222222;
$red: #de4848; // 字体红
$red13: #ff0000;
$purple: #5729E3; // 字体紫
$pink: #fa9b9b;
$purplePick: #EEE9FC;
$purple50: #5729E350;
$purple10: #5729E310;
$green: #59C35B;
$god:#c19c6f;
$lan: #42b1d2;
$themeColor:#42CA7A;
// 字体大小
$one: 0.36rem;
$two: 0.48rem;
$three: 0.56rem;
$four: 0.6rem;
$five: 0.64rem;
$six: 0.68rem;
$seven: 0.76rem;
$eight: 0.84rem;
$nine: 1.2rem;
$big: 2rem;

@function px2rem($px) {
    @return #{$px/$ue-width}rem;
}
.home-style-p {
  background-color: #f5f5f5;
  min-height: px2rem(1333);
  .top-home-top {
    padding: 0 px2rem(30);
    // padding-top: px2rem(85);
    padding-top: px2rem(30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    .legt-title-add {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .head-img-photo {
        width: px2rem(66);
        height: px2rem(66);
        border-radius: px2rem(33);
        overflow: hidden;
        margin-right: px2rem(15);
        img {
          width: 100%;
        }
      }
      .name-adress {
        .adress-icon {
          display: flex;
          align-items: center;
          img {
            width: px2rem(25);
            margin-right: px2rem(8);
          }
        }
      }
      .real-box {
        display: inline-block;
        display: flex;
        align-items: center;
        padding: px2rem(7) px2rem(13);
        border-radius: px2rem(20);
        background-color: #DAFFEC;
        color: $themeColor;
        img {
          width: px2rem(25);
          margin-right: px2rem(5);
        }
      }
      .message-icon {
        width: px2rem(44);
        margin-left: px2rem(30);
      }
    }
  }
  .return-three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: px2rem(60);
    background-color: #fff;
    .return-box {
      text-align: center;
      .return-img {
        width: px2rem(70);
        height: px2rem(70);
        margin: 0 auto;
        margin-bottom: px2rem(20);
        img {
          width: 100%;
        }
      }
    }
  }
  .notece-laba {
    display: flex;
    align-items: center;
    padding: px2rem(20) px2rem(30);
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    position: relative;
    background-color: #fff;
    .img-laba {
        width: px2rem(34);
        height: px2rem(34);
        margin-right: px2rem(30);
    }
    i {
        color: $themeColor;
    }
    .closetext {
        overflow: hidden;
        width: px2rem(625);
    }
    .inner-shadow {
        padding-left: 101%;
        display: inline-block;
        white-space: nowrap;
        position: relative;
    }
    .hongyuanyuan {
        position: absolute;
        left: px2rem(590);
        top: 0;
        display: inline-block;
        width: px2rem(8);
        height: px2rem(8);
        border-radius: 50%;
        background-color: #E60012;
    }
  }
  .swiper {
    // height: px2rem(300);
    // width: 100%;
    overflow: hidden;
    margin: 0 px2rem(30);
    margin-top: px2rem(20);
    border-radius: px2rem(10);
    background-color: #fff;
    img {
        width: 100%;
        height: 100%;
    }
    .imgBanner{
        width: 100%;
        // height: px2rem(300);
    }
    .swiper-wrapper {
        display: -webkit-box !important;
    }
    .icon-tager-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #fff;
      padding: px2rem(30);
      padding-bottom: px2rem(60);
      .icon-img-box {
        width: 25%;
        text-align: center;
        .icon-img-img {
          width: px2rem(50);
          height: px2rem(50);
          margin: 0 auto;
          margin-bottom: px2rem(20);
          img {
            width: 100%;
          }
        }
      }
    }
    .mar-top-img {
      margin-top: px2rem(30);
    }
    .swiper-pagination-bullet {
      width: px2rem(30);
      height: px2rem(6);
      background-color: $themeColor;
      border-radius: 0;
    }
    .swiper-pagination-bullet-active {
      background: $themeColor;
    }
  }
  .shouyi-zhangdan {
    padding: px2rem(20) px2rem(30);
    font-size: px2rem(32);
    color: #333;
  }
  .echats-box-mes {
    margin: px2rem(20) px2rem(30);
    margin-top: px2rem(0);
    background-color: #fff;
    border-radius: px2rem(10);
    height: px2rem(537);
    padding-bottom: px2rem(100);
    .echarts-type-select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 px2rem(180);
      padding-top: px2rem(10);
      span {
        padding: px2rem(20) 0;
      }
      .bottom-bor {
        color: $themeColor;
        border-bottom: px2rem(4) solid $themeColor;
      }
    }
    .setting-rata {
      display: flex;
      align-items: center;
      padding: 0 px2rem(20);
      align-items: center;
      justify-content: space-between;
      position: relative;
      height: 0;
      top: px2rem(60);
      .fr-jh {
        display: flex;
        align-items: center;
        .yuandian-lv {
          display: inline-block;
          width: px2rem(16);
          height: px2rem(16);
          border-radius: 50%;
          background-color: $themeColor;
          margin-right: px2rem(10);
        }
        .yuandian-lan {
          display: inline-block;
          width: px2rem(16);
          height: px2rem(16);
          border-radius: 50%;
          background-color: #078FC1;
          margin-right: px2rem(10);
        }
      }
      .mar-right-fr {
        margin-right: px2rem(20);
      }
    }
    #myChart {
      padding-top: px2rem(20);
    }
  }
  .shop-jy-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 px2rem(30);
    .list-li {
      width: 48.5%;
      border-radius: px2rem(10);
      padding-bottom: px2rem(10);
      overflow: hidden;
      background-color: #fff;
      .img-list {
        width: 100%;
        img {
          width: 100%;
          vertical-align: bottom;
        }
      }
      .title-con {
        padding: px2rem(10);
        font-size: px2rem(30);
        color: #000;
      }
    }
  }
  .hszq-img {
    margin: 0 px2rem(30);
    border-radius: px2rem(10);
    overflow: hidden;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}
.hdzq-style {
  padding-top: px2rem(85);
  height: px2rem(1249);
  background-color: #fff;
  overflow: auto;
  .list-row {
    padding: px2rem(15) px2rem(30);
    display: flex;
    align-items: center;
    .img-box {
      width: px2rem(200);
      height: px2rem(200);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-right: px2rem(20);
      img {
        // max-width: 100%;
        max-height: 100%;
      }
    }
    .title-top {
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: px2rem(110);
    }
    .time-bottom {
      margin-top: px2rem(110);
    }
  }
}
.income-style {
  padding-top: 0;
  .bg-box {
    padding-top: px2rem(85);
    background: url(../../src/assets/home//sy-bg.png) bottom center no-repeat;
    background-size: 100% px2rem(350);
    height: px2rem(265);
    text-align: center;
    color: #fff;
    .mysy {
      padding-top: px2rem(20);
      font-size: px2rem(26);
    }
    .jine-mysy {
      font-size: px2rem(72);
      padding: px2rem(10) 0;
    }
    .benyue-price {
      font-size: px2rem(26);
    }
  }
  .flex-shouyi-betw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: $themeColor;
    padding: px2rem(20) 0;
    .flex-box-lr {
      flex: 0.5;
      color: #fff;
      div {
        font-size: px2rem(26);
      }
      .price-t {
        font-size: px2rem(32);
        margin-bottom: px2rem(10);
      }
    }
  }
  .list-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: px2rem(20) 0;
    background-color: #fff;
    color: #777777;
    font-size: px2rem(26);
    border-bottom: 1px solid #E5E5E5;
    .hezi-flex {
      flex: 0.5;
      text-align: center;
      position: relative;
      .price {
        font-size: px2rem(36);
        color: #333333;
        padding-bottom: px2rem(10);
      }
      .dingwei-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: px2rem(20);
        font-size: px2rem(36);
      }
    }
    .shu {
      display: inline-block;
      height: px2rem(60);
      background-color: #E5E5E5;
      width: px2rem(2);
    }
  }
}
.tranpant {
  background: transparent !important;
}
.incomeList-style {
  .xuanzhuan {
    transform: rotate(-90deg);
    font-size: px2rem(30);
  }
  .hezi-box-sy {
    padding: px2rem(20) px2rem(30);
    .title-time {
      display: flex;
      justify-content: space-between;
      padding: 0 px2rem(30);
      font-size: px2rem(30);
      .price-r {
        color: $themeColor;
      }
    }
    .detail-box {
      background-color: #fff;
      padding: px2rem(30);
      box-sizing: border-box;
      margin-top: px2rem(20);
      .title-top-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: px2rem(30);
      }
      .detail-list {
        background-color: #F5F5F5;
        padding: px2rem(20) px2rem(30);
        padding-bottom: px2rem(1);
        box-sizing: border-box;
        margin-top: px2rem(20);
        .list-row {
          display: flex;
          justify-content: space-between;
          font-size: px2rem(26);
          margin-bottom: px2rem(20);
        }
      }
    }
  }
}
