@charset "utf-8";
$ue-width: 50;
$fgary: #f5f5f5;
$themeColor: #42CA7A;
$promptColor: #FD2121;
// 字体大小
$one: 0.36rem;
$two: 0.48rem;
$three: 0.56rem;
$four: 0.6rem;
$five: 0.64rem;
$six: 0.68rem;
$seven: 0.76rem;
$eight: 0.84rem;
$nine: 1.2rem;
$big: 2rem;

@function px2rem($px) {
    @return #{$px/$ue-width}rem;
}
.pageTitle{
    background: $themeColor;
    color: #fff;
    height: 1.7rem;
    font-size: $five;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
    box-sizing: border-box;
    .el-icon-arrow-left{
        position: absolute;
        left: px2rem(20);
        font-size: $seven;
    }
    .hs{
        color: #333;
    }
    .rightCorner{
        position: absolute;
        right: px2rem(20);
        font-size: $one;
    }
}
.callPhone{
    .el-message-box__btns{
        display: flex;
        justify-content: space-between;
        button{
            background: $themeColor;
            color: #fff;
            width: 45%;
            margin: 0;
        }
    }
}
.czPopDiv{
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 201;
    ul{
        background: #fff;
        width: 80%;
        padding: px2rem(60);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        li{
            display: flex;
            align-items: center;
            width: px2rem(240);
            padding: px2rem(16);
            border-radius: px2rem(10);
            &:first-child{
                margin-bottom: px2rem(20);
                border: 1px solid #0095E0;
            }
            &:last-child{
                border: 1px solid $themeColor;
            }
            img{
                margin-right: px2rem(10);
                width: px2rem(50);
            }
        }
    }
}
.login-layout{
    background: url(../../src/assets/registerLogin/loginBg.png) no-repeat;
    background-size: 100% 100%;
    .pageTitle{
        text-align: center;
        padding: px2rem(30);
        font-size: $five;
        font-weight: bold;
        position: relative;
        border-bottom: 1px solid #F9F9F9;
        span{
            font-weight: normal;
            position: absolute;
            right: px2rem(20);
            font-size: $three;
        }
    }
    >img{
        width: 30%;
        display: block;
        margin: px2rem(40) auto;
    }
    .contentDiv{
        padding: 0 px2rem(100);
        margin-top: px2rem(80);
        .navDiv{
            display: flex;
            justify-content: center;
            margin-bottom: px2rem(40);
            p{
                padding: px2rem(10) px2rem(60);
                box-sizing: border-box;
            }
            .aP{
                color: $themeColor;
                border-bottom: 1px solid $themeColor;
            }
        }
        ul{
            li{
                display: flex;
                position: relative;
                align-items: center;
                padding: px2rem(30) 0;
                border-bottom: 1px solid #EDEDED;
                input{
                    font-size: $four;
                    width: 100%;
                }
                img{
                    &:first-child{
                        width: px2rem(40);
                        padding-right: px2rem(10);
                    }
                    &:last-child{
                        width: px2rem(30);
                        position: absolute;
                        right: px2rem(10);
                    }
                }
                span{
                    position: absolute;
                    right: px2rem(10);
                    color: $themeColor;
                }
            }
            >p{
                margin: px2rem(20) 0;
                font-size: $four;
                text-align: right;
                color: #B0B0B0;
            }
        }
        .btnDiv{
            padding: px2rem(20);
            border-radius: px2rem(10);
            background: $themeColor;
            text-align: center;
            color: #fff;
            font-size: $four;
        }
    }
    .footDiv{
        margin-top: px2rem(40);
        p{
            text-align: center;
            color: #888;
            span{
                color: $themeColor;
            }
        }
    }
}
.registered-layout{
    background: url(../../src/assets/registerLogin/loginBg.png) no-repeat;
    background-size: 100% 100%;
    .pageTitle{
        text-align: center;
        padding: px2rem(30);
        font-size: $five;
        font-weight: bold;
        position: relative;
        border-bottom: 1px solid #F9F9F9;
        span{
            font-weight: normal;
            position: absolute;
            right: px2rem(20);
            font-size: $three;
        }
        .el-icon-arrow-left{
            font-weight: normal;
            position: absolute;
            left: px2rem(20);
            font-size: $seven;
        }
    }
    >img{
        width: 30%;
        display: block;
        margin: px2rem(40) auto;
    }
    ul{
        padding: 0 px2rem(40);
        li{
            display: flex;
            position: relative;
            align-items: center;
            padding: px2rem(40) px2rem(30);
            border-bottom: 1px solid #EDEDED;
            input{
                font-size: $four;
                width: 100%;
            }
            img{
                width: px2rem(40);
                padding-right: px2rem(20);
            }
            span{
                position: absolute;
                right: px2rem(10);
                color: $themeColor;
            }
        }
    }
    .btnDiv{
        padding: px2rem(30) px2rem(40);
        div{
            color: #fff;
            background: $themeColor;
            padding: px2rem(20);
            border-radius: px2rem(16);
            text-align: center;
        }
    }
}
.my-layout{
    .txDiv{
        display: flex;
        background: $themeColor;
        color: #fff;
        padding: px2rem(30);
        >img{
            margin-right: px2rem(40);
            width: px2rem(160);
            border-radius: 50%;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                &:first-child{
                    margin-bottom: px2rem(10);
                }
            }
        }
    }
    >ol{
        padding-top: px2rem(20);
        background: $themeColor;
        color: #fff;
        padding-bottom: px2rem(150);
        display: flex;
        align-items: center;
        li{
            width: 50%;
            text-align: center;
            span{
                font-size: $six;
            }
        }
        >div{
            height: px2rem(50);
            width: 1px;
            background: #fff;
        }
    }
    .planDiv{
        transform: translateY(px2rem(-80));
        padding: 0 px2rem(30);
        padding-bottom: px2rem(100);
        .hyDiv{
            margin-bottom: px2rem(30);
            >div{
                display: flex;
                background: url(../../src/assets/my/hyCard.png) no-repeat;
                background-size: 100% 100%;
                height: px2rem(190);
                align-items: center;
                box-sizing: border-box;
                padding: px2rem(60);
                justify-content: space-between;
                div{
                    color: $themeColor;
                    span{
                        font-size: $six;
                    }
                    p{
                        margin-top: px2rem(20);
                        font-size: $four;
                    }
                }
                >p{
                    background: $themeColor;
                    color: #fff;
                    padding: px2rem(10) px2rem(20);
                    border-radius: px2rem(40);
                }
            }
        }
        .itemDiv{
            margin-bottom: px2rem(30);
            background: #fff;
            >p{
                font-size: $five;
                padding: px2rem(20);
                border-bottom: 1px solid #F6F6F6;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                padding-top: px2rem(20);
                li{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 25%;
                    margin-bottom: px2rem(20);
                    img{
                        width: px2rem(40);
                        margin-bottom: px2rem(10);
                    }
                }
            }
        }
    }
}
.personalInfo-layout{
    background: #fff;
    .bgDiv{
        background: $themeColor;
        height: px2rem(280);
    }
    .content{
        padding: px2rem(20);
        transform: translateY(px2rem(-210));
        .infoDiv{
            background: #fff;
            padding: px2rem(30);
            border-radius: px2rem(10);
            box-shadow: 0 1px 3px 2px rgba($color: #000000, $alpha: 0.16);
            display: flex;
            align-items: center;
            .avatar-uploader{
                margin-right: px2rem(40);
                img{
                    width: px2rem(200);
                    height: px2rem(200);
                    border-radius: 50%;
                }
            }
            div{
                &:last-child{
                    display: flex;
                    flex-direction: column;
                    p{
                        display: flex;
                        align-items: center;
                        font-size: $five;
                        margin-bottom: px2rem(10);
                        img{
                            height: px2rem(56);
                            margin-left: px2rem(20);
                        }
                    }
                    span{
                        color: #b0b0b0;
                        margin-bottom: px2rem(10);
                    }
                }
            }
        }
        >p{
            border-left: 4px solid $themeColor;
            margin: px2rem(20) 0;
            padding: 0 px2rem(20);
            font-size: $five;
        }
        ul{
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: $five;
                padding: px2rem(20);
                border-top: 1px solid #f6f6f6;
                >p{
                    display: flex;
                    align-items: center;
                    img{
                        width: px2rem(36);
                        margin-right: px2rem(20);
                    }
                }
                span{
                    color: #aaa;
                }
            }
        }
    }
}
.upgrade-layout{
    padding-bottom: px2rem(100);
    .headDiv{
        background: $themeColor;
        padding: px2rem(40) px2rem(20);
        padding-bottom: 0;
        div{
            background: url(../../src/assets/member/bg1.png) no-repeat;
            background-size: 100% 100%;
            padding: px2rem(30) px2rem(40) px2rem(20) px2rem(40);
            p{
                &:first-child{
                    color: $themeColor;
                    font-size: $six;
                    margin-bottom: px2rem(10);
                }
                &:last-child{
                    color: $themeColor;
                    font-size: $four;
                }
            }
        }
    }
    .titleP{
        margin-left: px2rem(20);
        padding-left: px2rem(20);
        border-left: 4px solid $themeColor;
        font-size: $five;
    }
    .navDiv{
        background: url(../../src/assets/member/bg2.png) no-repeat;
        background-size: 100% 100%;
        padding: px2rem(100) 0 px2rem(20) 0;
        ol{
            margin-top: px2rem(30);
            overflow: auto;
            display: flex;
            li{
                margin-left: px2rem(20);
                position: relative;
                .bgImg{
                    border: 4px solid $themeColor;
                    border-radius: px2rem(10);
                    width: px2rem(260);
                    box-sizing: border-box;
                }
                .dwImg{
                    position: absolute;
                    top: 4px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: px2rem(60);
                }
            }
        }
    }
    >p{
        margin: px2rem(20) 0;
        background: #fff;
        color: #868686;
        padding: px2rem(20);
        font-size: $four;
    }
    .footDiv{
        background: #fff;
        padding: px2rem(20);
        ul{
            display: flex;
            flex-wrap: wrap;
            .noBottom{
                border-bottom: none;
            }
            .noRight{
                border-right: none;
            }
            li{
                width: 50%;
                display: flex;
                align-items: flex-start;
                padding: px2rem(20);
                box-sizing: border-box;
                border-right: 1px solid #f7f7f7;
                border-bottom: 1px solid #f7f7f7;
                img{
                    width: px2rem(60);
                    margin-right: px2rem(40);
                }
                div{
                    span{
                        font-size: $five;
                    }
                    p{
                        color: #777;
                        margin-top: px2rem(10);
                    }
                }
            }
        }
    }
    .btnDiv{
        position: fixed;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        span{
            margin-left: px2rem(40);
            font-size: $four;
            color: $themeColor;
        }
        img{
            height: px2rem(90);
        }
    }
}
.cardlist-layout{
    .navDiv{
        display: flex;
        padding: 0 px2rem(40);
        justify-content: space-between;
        margin-bottom: px2rem(20);
        background: #fff;
        p{
            width: 45%;
            text-align: center;
            padding: px2rem(20);
            box-sizing: border-box;
        }
        .aP{
            border-bottom: 2px solid $themeColor;
            color: $themeColor;
        }
    }
    .xyCard{
        padding: 0 px2rem(20);
        >li{
            margin-bottom: px2rem(20);
            .topDiv{
                background: #fff;
                padding: px2rem(20);
                border-radius: px2rem(20);
                >div{
                    &:nth-child(1){
                        p{
                            display: flex;
                            align-items: center;
                            img{
                                width: px2rem(50);
                                margin-right: px2rem(20);
                            }
                        }
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    &:nth-child(2){
                        display: flex;
                        margin-top: px2rem(20);
                        >span{
                            color: #F28456;
                            font-size: px2rem(50);
                            margin-right: px2rem(20);
                        }
                        div{
                            p{
                                color: #F28456;
                                display: flex;
                                align-items: center;
                                span{
                                    padding: 0 px2rem(10);
                                    border-radius: px2rem(30);
                                    margin-left: px2rem(10);
                                    border: 1px solid #F28456;
                                }
                            }
                            >span{
                                color: #808080;
                            }
                        }
                    }
                }
                ol{
                    display: flex;
                    margin-top: px2rem(20);
                    li{
                        width: 33.333%;
                        span{
                            font-size: $five;
                            color: #808080;
                        }
                        p{
                            color: #B0B0B0;
                        }
                    }
                }
            }
            .bottomDiv{
                display: flex;
                padding: px2rem(20) px2rem(40);
                justify-content: flex-end;
                border-radius: px2rem(20);
                background: #fff;
                border-top: 1px dashed #e1e1e1;
                span{
                    border: 1px solid #43CA7B;
                    padding: px2rem(2) px2rem(16);
                    color: #43CA7B;
                    font-size: $five;
                }
            }
        }
        .btnDiv{
            padding: px2rem(20) 0;
            div{
                padding: px2rem(20);
                text-align: center;
                background: #fff;
                color: #888;
            }
        }
    }
    .cxCard{
        li{
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: px2rem(40);
            margin-bottom: px2rem(20);
            >div{
                display: flex;
                align-items: center;
                img{
                    width: px2rem(90);
                    padding: px2rem(40);
                }
                div{
                    color: #888;
                    p{
                        margin-bottom: px2rem(10);
                        font-size: $six;
                        span{
                            font-size: $three;
                            display: inline-block;
                            margin-left: px2rem(20);
                            color: #B0B0B0;
                        }
                    }
                    >span{
                        font-size: $five;
                    }
                }
            }
            i{
                color: #888;
            }
        }
        .btnDiv{
            padding: px2rem(40) px2rem(20);
            div{
                padding: px2rem(20);
                background: $themeColor;
                color: #fff;
                border-radius: px2rem(10);
                text-align: center;
            }
        }
    }
}
.matter-layout{
    .headDiv{
        background: #fff;
        display: flex;
        align-items: center;
        padding: px2rem(20);
        img{
            width: px2rem(60);
            padding: px2rem(20);
            margin-right: px2rem(20);
        }
        div{
            p{
                font-size: $seven;
            }
            span{
                color: #858585;
            }
        }
    }
    ul{
        background: #fff;
        margin-top: px2rem(20);
        li{
            display: flex;
            justify-content: space-between;
            padding: px2rem(11);
            color: #949494;
            span{
                margin-left: px2rem(40);
            }
            p{
                width: 70%;
            }
        }
    }
    .btnDiv{
        padding: px2rem(40);
        display: flex;
        justify-content: space-between;
        div{
            width: 40%;
            padding: px2rem(20);
            text-align: center;
            border-radius: px2rem(10);
            &:first-child{
                color: $themeColor;
                border: 1px solid $themeColor;
            }
            &:last-child{
                color: #fff;
                background: $themeColor;
            }
        }
    }
}
.cardinfo-layout{
    padding-top: 1.7rem;
    ul{
        background: #fff;
        margin-top: px2rem(20);
        margin-bottom: px2rem(10);
        li{
            display: flex;
            justify-content: space-between;
            padding: px2rem(11);
            span{
                color: #949494;
                margin-left: px2rem(40);
            }
            p{
                width: 70%;
            }
        }
    }
    ol{
        background: #fff;
        margin-top: px2rem(20);
        margin-bottom: px2rem(10);
        padding: 0 px2rem(40);
        li{
            display: flex;
            justify-content: space-between;
            padding: px2rem(11);
            align-items: center;
            span{
                color: #949494;
            }
            input{
                width: 70%;
                border: 1px solid #e1e1e1;
                border-radius: px2rem(10);
                padding: px2rem(10);
            }
        }
    }
    .btnDiv{
        padding: px2rem(20);
        div{
            padding: px2rem(20);
            text-align: center;
            background: $themeColor;
            color: #fff;
            border-radius: px2rem(10);
        }
    }
}
.addcard-layout{
    ul{
        padding: 0 px2rem(20);
        background: #fff;
        li{
            display: flex;
            padding: px2rem(26) 0;
            border-bottom: 1px solid #ebebeb;
            >span{
                width: px2rem(240);
                color: #828282;
                display: flex;
                align-items: center;
                i{
                    margin-left: px2rem(20);
                    color: $promptColor;
                }
            }
            p,input,.el-input{
                width: 100%;
                border: none;
                &::placeholder{
                    color: #a1a1a1;
                }
                .el-input__prefix{
                    display: none;
                }
                .el-input__inner{
                    padding: 0;
                }
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    >p{
        display: flex;
        padding: px2rem(20);
        span{
            margin-right: px2rem(10);
            border-left: 3px solid $themeColor;
        }
    }
    .btnDiv{
        padding: px2rem(20);
        margin-top: px2rem(40);
        div{
            padding: px2rem(20);
            text-align: center;
            color: #fff;
            border-radius: px2rem(10);
            background: $themeColor;
        }
    }
    .promptDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.3);
        >div{
            background: #fff;
            width: 80%;
            box-sizing: border-box;
            padding: px2rem(40);
            h3{
                text-align: center;
                font-size: $seven;
                padding-bottom: px2rem(20);
                border-bottom: 1px solid #ededed;
            }
            .contentDiv{
                margin-top: px2rem(20);
                color: #8e8e8e;
            }
            .promptBtnDiv{
                display: flex;
                justify-content: space-between;
                margin-top: px2rem(20);
                div{
                    width: 40%;
                    color: #fff;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: px2rem(20);
                    box-sizing: border-box;
                    border-radius: px2rem(10);
                    &:first-child{
                        background: #b0b0b0;
                    }
                    &:last-child{
                        background: $themeColor;
                    }
                }
            }
        }
    }
    .popDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.3);
        img{
            width: 80%;
        }
    }
}
.change-layout{
    padding-top: 1.7rem;
    .infoDiv{
        margin: px2rem(20);
        padding: px2rem(20);
        background: #fff;
        border-radius: px2rem(10);
        p{
            border-radius: px2rem(10);
            background: #F6F6F6;
            padding: px2rem(20);
            color: #838383;
            &:last-child{
                margin-top: px2rem(10);
            }
        }
    }
    ul{
        margin: px2rem(20);
        background: #fff;
        padding: px2rem(20);
        li{
            padding: px2rem(20);
            border: 1px solid #dcdcdc;
            border-radius: px2rem(10);
            margin-bottom: px2rem(20);
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .btnDiv{
        padding: px2rem(20);
        margin-top: px2rem(40);
        div{
            padding: px2rem(20);
            text-align: center;
            color: #fff;
            border-radius: px2rem(10);
            background: $themeColor;
        }
    }
}
.real-layout{
    padding-top: 1.7rem;
    background: #fff;
    .el-icon-arrow-left{
        position: fixed;
        font-size: $seven;
        color: #fff;
        top: px2rem(26);
        left: px2rem(20);
        z-index: 201;
    }
    .headDiv{
        background: $themeColor;
        padding: px2rem(20);
        img{
            display: block;
            margin: 0 auto;
            width: 80%;
        }
    }
    .contentOne{
        .pzDiv{
            display: flex;
            align-items: center;
            padding: px2rem(40);
            justify-content: space-between;
            >div{
                >p{
                    text-align: center;
                    margin-top: px2rem(20);
                }
                .upload-demo{
                    width: px2rem(300);
                    height: px2rem(200);
                    .el-upload{
                        width: 100%;
                        height: 100%;
                        border: none;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        ul{
            li{
                padding: px2rem(20) px2rem(40);
                border-bottom: 1px solid #efefef;
                display: flex;
                align-items: center;
                span{
                    width: px2rem(160);
                    color: #808080;
                }
                &:last-child{
                    span{
                        width: auto;
                        margin-right: px2rem(10);
                    }
                }
                input{
                    &::placeholder{
                        color: #808080;
                    }
                }
                .el-cascader{
                    input{
                        border: none;
                    }
                }
            }
        }
        >p{
            padding: px2rem(20) px2rem(40);
            color: #bbb;
        }
        .btnDiv{
            margin: 0 px2rem(40);
            background: $themeColor;
            color: #fff;
            text-align: center;
            padding: px2rem(20);
            border-radius: px2rem(10);
        }
    }
    .contentTwo{
        .pzDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: px2rem(40);
            .upload-demo{
                width: px2rem(360);
                height: px2rem(240);
                margin-bottom: px2rem(20);
                .el-upload{
                    width: 100%;
                    height: 100%;
                    border: none;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        ul{
            li{
                padding: px2rem(20) px2rem(40);
                border-bottom: 1px solid #efefef;
                display: flex;
                align-items: center;
                span{
                    width: px2rem(160);
                    color: #808080;
                }
                input{
                    &::placeholder{
                        color: #808080;
                    }
                }
            }
        }
        >p{
            padding: px2rem(20) px2rem(40);
            color: #bbb;
        }
        .btnDiv{
            margin: 0 px2rem(40);
            background: $themeColor;
            color: #fff;
            text-align: center;
            padding: px2rem(20);
            border-radius: px2rem(10);
        }
    }
    .contentThree{
        .pzDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: px2rem(40);
            .upload-demo{
                width: px2rem(360);
                height: px2rem(240);
                margin-bottom: px2rem(20);
                .el-upload{
                    width: 100%;
                    height: 100%;
                    border: none;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .tipDiv{
            padding: px2rem(40);
            padding-top: 0;
            span{
                color: red;
            }
            p{
                color: #808080;
                font-size: $four;
            }
        }
        .btnDiv{
            margin: 0 px2rem(40);
            background: $themeColor;
            color: #fff;
            text-align: center;
            padding: px2rem(20);
            border-radius: px2rem(10);
        }
    }
}
.emptyCardCredit-layout{
    .headDiv{
        background: $themeColor;
        padding: px2rem(40);
        padding-bottom: px2rem(100);
        >div{
            display: flex;
            align-items: center;
            img{
                width: px2rem(140);
                margin-right: px2rem(40);
                border-radius: 50%;
            }
            div{
                color: #fff;
                p{
                    font-size: $seven;
                    display: flex;
                    align-items: center;
                    margin-bottom: px2rem(20);
                    span{
                        margin-left: px2rem(20);
                        background: #FFAF2B;
                        font-size: $one;
                        padding: px2rem(4) px2rem(16);
                        border-radius: px2rem(10);
                    }
                }
                >span{
                    font-size: $four;
                }
            }
        }
    }
    .xyfDiv{
        margin: 0 px2rem(40);
        background: #fff;
        border-radius: px2rem(10);
        transform: translateY(px2rem(-60));
        >div{
            padding: px2rem(20) px2rem(30);
            border-bottom: 1px solid #F6F6F6;
            p{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: px2rem(10);
                &:last-child{
                    margin-bottom: 0;
                }
                span{
                    font-size: $one;
                    color: $themeColor;
                    border: 1px solid $themeColor;
                    padding: 0 px2rem(16);
                }
            }
        }
        ul{
            display: flex;
            padding: px2rem(30) 0;
            li{
                width: 33.3333%;
                border-right: 1px solid #f6f6f6;
                text-align: center;
                &:first-child{
                    color: $themeColor;
                }
                &:last-child{
                    border: none;
                }
            }
        }
    }
    .sqsxPopDiv{
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 202;
        background: rgba($color: #000000, $alpha: 0.4);
        >i{
            font-size: px2rem(70);
            color: #fff;
            margin-top: px2rem(60);
        }
        >div{
            width: 80%;
            >div{
                background: url(../../src/assets/my/kksxck.png) no-repeat;
                background-size: 100% 100%;
                height: px2rem(300);
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                padding: px2rem(60) px2rem(80);
                p{
                    color: #fff;
                    font-size: $six;
                    margin-bottom: px2rem(40);
                }
                div{
                    display: flex;
                    align-items: center;
                    background: #fff;
                    border-radius: px2rem(10);
                    padding: px2rem(20) px2rem(40);
                    box-sizing: border-box;
                    img{
                        width: px2rem(30);
                        margin-right: px2rem(20);
                    }
                    input{
                        border: none;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            ol{
                display: flex;
                align-items: center;
                background: #fff;
                padding: px2rem(20);
                li{
                    width: 50%;
                    text-align: center;
                    p{
                        font-size: $six;
                        margin-bottom: px2rem(6);
                    }
                    span{
                        color: #777;
                    }
                }
                >span{
                    height: px2rem(60);
                    width: 1px;
                    background: #f6f6f6;
                }
            }
            >p{
                color: $themeColor;
                background: #fff;
                text-align: center;
                padding: px2rem(20);
                font-size: $five;
                border-radius: 0 0 px2rem(20) px2rem(20);
                border-top: 1px solid #f6f6f6;
            }
        }
    }
    .kjsxPopDiv{
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        z-index: 202;
        background: rgba($color: #000000, $alpha: 0.4);
        >div{
            width: 80%;
            box-sizing: border-box;
            >div{
                background: url(../../src/assets/my/kksxck.png) no-repeat;
                background-size: 100% 100%;
                padding-top: px2rem(60);
                >p{
                    font-size: $six;
                    color: #fff;
                    text-align: center;
                }
                ol{
                    padding: px2rem(20) px2rem(60);
                    li{
                        display: flex;
                        align-items: center;
                        position: relative;
                        background: #fff;
                        padding: px2rem(20);
                        border-radius: px2rem(10);
                        margin-bottom: px2rem(20);
                        img{
                            width: px2rem(30);
                            margin-right: px2rem(20);
                        }
                        input{
                            width: 100%;
                        }
                        p{
                            position: absolute;
                            right: px2rem(20);
                            background: $themeColor;
                            color: #fff;
                            border-radius: px2rem(20);
                            padding: 0 px2rem(10);
                        }
                        span{
                            color: $themeColor;
                            position: absolute;
                            right: px2rem(20);
                        }
                    }
                }
            }
            >p{
                display: flex;
                background: #fff;
                padding: px2rem(20) 0;
                border-radius: 0 0 px2rem(20) px2rem(20);
                span{
                    width: 50%;
                    text-align: center;
                    font-size: $seven;
                    &:first-child{
                        color: #777;
                        border-right: 1px solid #f6f6f6;
                    }
                    &:last-child{
                        color: $themeColor;
                    }
                }
            }
        }
    }
    >img{
        width: 100%;
        height: px2rem(90);
    }
    >ul{
        padding: px2rem(20);
        overflow: auto;
        height: 9.9rem;
        >p{
            text-align: center;
            margin-top: px2rem(10);
            color: #aaa;
        }
        li{
            background: #fff;
            border-radius: px2rem(10);
            border-top: 1px solid #ebebeb;
            >p{
                padding: px2rem(20);
                border-bottom: 1px solid #F6F6F6;
            }
            >div{
                padding: px2rem(20);
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    display: flex;
                    span{
                        margin-left: px2rem(30);
                        padding: 0 px2rem(20);
                        &:nth-child(1){
                            color: #FF4949;
                            border: 1px solid #FF4949;
                        }
                        &:nth-child(2){
                            color: $themeColor;
                            border: 1px solid $themeColor;
                        }
                        &:nth-child(3){
                            color: #fff;
                            background: $themeColor;
                        }
                    }
                    .tySpan{
                        border: none !important;
                        color: $themeColor !important;
                    }
                    .jjSpan{
                        border: none !important;
                        color: #FF4949 !important;
                    }
                }
            }
        }
    }
    .editSx{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.4);
        z-index: 202;
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            width: 80%;
            background: #fff;
            border-radius: px2rem(20);
            font-size: $five;
            >p{
                color: $themeColor;
                text-align: center;
                padding: px2rem(20);
                border-bottom: 1px solid #f6f6f6;
            }
            >div{
                padding: px2rem(40);
                display: flex;
                flex-direction: column;
                align-items: center;
                input{
                    margin: px2rem(20) 0;
                    text-align: center;
                    color: #FF4949;
                }
                >p{
                    font-weight: bold;
                }
                div{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    font-size: $one;
                    p{
                        border-radius: px2rem(10);
                        padding: px2rem(10);
                        width: 40%;
                        text-align: center;
                        &:first-child{
                            color: $themeColor;
                            border: 1px solid $themeColor;
                        }
                        &:last-child{
                            color: #fff;
                            background: $themeColor;
                        }
                    }
                }
            }
        }
    }
}
.sxTx-layout{
    .el-tabs{
        .el-tabs__header{
            background: $themeColor;
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            .el-tabs__nav-wrap{
                &::after{
                    content: normal;
                }
                .el-tabs__active-bar{
                    background-color: #fff;
                }
                #tab-first{
                    padding: 0 px2rem(60);
                }
                div{
                    color: #fff;
                }
            }
        }
    }
    .btDiv{
        height: px2rem(10);
        background: $themeColor;
    }
    #pane-first{
        .content{
            background: #fff;
            padding: 0 px2rem(20);
            >p{
                color: #888;
                padding: px2rem(20) 0;
            }
            div{
                display: flex;
                align-items: flex-end;
                border-bottom: 1px solid #f4f4f4;
                padding-bottom: px2rem(20);
                font-size: $six;
                margin: px2rem(20) 0;
                input{
                    font-size: px2rem(50);
                    margin-left: px2rem(20);
                    width: 100%;
                }
            }
        }
        .btnDiv{
            margin: px2rem(40) px2rem(20);
            background: $themeColor;
            text-align: center;
            padding: px2rem(20);
            color: #fff;
            border-radius: px2rem(10);
        }
    }
    #pane-second{
        .cardDiv{
            background: #fff;
            display: flex;
            padding: px2rem(16) px2rem(20);
            align-items: center;
            justify-content: space-between;
            margin-bottom: px2rem(40);
            >span{
                color: #888;
            }
            p{
                display: flex;
                align-items: center;
                img{
                    width: px2rem(40);
                    margin-left: px2rem(40);
                    margin-right: px2rem(6);
                }
            }
        }
        .planDiv{
            background: #fff;
            padding: 0 px2rem(20);
            >p{
                color: #888;
                padding: px2rem(20) 0;
                display: flex;
                justify-content: space-between;
                span{
                    color: $themeColor;
                }
            }
            div{
                display: flex;
                align-items: flex-end;
                border-bottom: 1px solid #f4f4f4;
                padding-bottom: px2rem(20);
                font-size: $six;
                margin: px2rem(20) 0;
                input{
                    font-size: px2rem(50);
                    margin-left: px2rem(20);
                    width: 100%;
                }
            }
        }
        >p{
            color: $promptColor;
            margin: px2rem(40) px2rem(20);
        }
        .btnDiv{
            margin: 0 px2rem(20);
            padding: px2rem(20);
            border-radius: px2rem(10);
            background: $themeColor;
            color: #fff;
            text-align: center;
        }
    }
}
.czjls-layout{
    ul{
        font-size: $four;
        overflow: auto;
        height: 24.9rem;
        li{
            background: #fff;
            padding: px2rem(20);
            border-bottom: 1px solid #f9f9f9;
            div{
                display: flex;
                justify-content: space-between;
                margin-bottom: px2rem(16);
                &:last-child{
                    margin-bottom: 0;
                }
                span{
                    color: #b5b5b5;
                }
                .cgP{
                    color: $themeColor;
                }
                .sbP{
                    color: $promptColor;
                }
            }
        }
        >p{
            text-align: center;
            margin-top: px2rem(20);
        }
    }
}
.hkjh-layout{
    
}